In [99]:
deadline = '30 ноября 2021 г.'

In [100]:
import pandas as pd

In [101]:
xl = pd.ExcelFile('Лих 1 к 4 п 6.xlsx')

In [102]:
list_xl = xl.parse('Лист1')

In [103]:
list_xl

,Счет,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,2010 год,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,2016 год,Unnamed: 43,Unnamed: 44,Unnamed: 45,Квартира,Задолжность,Unnamed: 48
0,"ул. Лихачевское шоссе, д. 1, корп. 4",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-30 00:00:00,NaN
1,087383,NaN,NaN,383,NaN,NaN,NaN,NaN,NaN,383,...,NaN,383,NaN,NaN,NaN,NaN,NaN,383,375,NaN
2,087385,NaN,NaN,385,NaN,NaN,NaN,NaN,NaN,385,...,NaN,385,125.0,125.0,125.0,125.0,NaN,385,375,NaN
3,087387,NaN,NaN,387,NaN,NaN,NaN,NaN,NaN,387,...,NaN,387,NaN,NaN,NaN,NaN,NaN,387,375,NaN
4,087388,NaN,NaN,388,NaN,NaN,NaN,NaN,NaN,388,...,NaN,388,125.0,125.0,125.0,125.0,ув.14.02.17,388,875,NaN
5,087389,NaN,NaN,389,NaN,NaN,NaN,NaN,NaN,389,...,NaN,389,NaN,NaN,NaN,NaN,ув.14.02.17,389,375,NaN
6,087391,NaN,NaN,391,NaN,NaN,NaN,NaN,NaN,391,...,ув.10.11.16,391,125.0,125.0,125.0,125.0,NaN,391,NaN,отключить
7,087392,NaN,NaN,392,NaN,NaN,NaN,NaN,NaN,392,...,NaN,392,NaN,NaN,NaN,NaN,NaN,392,1875,NaN
8,087393,NaN,NaN,393,NaN,NaN,NaN,NaN,NaN,393,...,ув.10.11.16,393,125.0,125.0,125.0,125.0,NaN,393,1625,NaN
9,087394,NaN,NaN,394,70.0,70.0,70.0,70.0,NaN,394,...,ув.10.11.16,394,125.0,125.0,125.0,125.0,NaN,394,1875,NaN
10,087395,NaN,NaN,395,NaN,NaN,NaN,NaN,NaN,395,...,NaN,395,125.0,125.0,125.0,125.0,NaN,395,875,NaN
11,087397,NaN,NaN,397,NaN,NaN,NaN,NaN,не жили,397,...,NaN,397,90.0,90.0,90.0,90.0,откл.01.01.2017 по заявл. От 24.10.16,397,1875,NaN
12,087398,NaN,NaN,398,NaN,NaN,NaN,NaN,NaN,398,...,NaN,398,NaN,NaN,NaN,NaN,откл.10.11.16,398,1875,NaN
13,087402,NaN,NaN,402,NaN,NaN,NaN,NaN,NaN,402,...,NaN,402,NaN,NaN,NaN,NaN,NaN,402,NaN,отключить
14,087404,NaN,NaN,404,100.0,100.0,100.0,100.0,NaN,404,...,NaN,404,125.0,125.0,125.0,125.0,NaN,404,1375,NaN
15,087405,NaN,NaN,405,100.0,100.0,100.0,100.0,NaN,405,...,NaN,405,125.0,125.0,125.0,125.0,NaN,405,500,NaN
16,087406,NaN,NaN,406,NaN,100.0,100.0,100.0,NaN,406,...,NaN,406,125.0,125.0,125.0,125.0,NaN,406,1875,NaN
17,087409,NaN,NaN,409,NaN,30.0,70.0,100.0,NaN,409,...,NaN,409,125.0,125.0,125.0,125.0,NaN,409,1875,NaN
18,087410,NaN,NaN,410,100.0,100.0,100.0,100.0,NaN,410,...,NaN,410,NaN,NaN,NaN,NaN,NaN,410,1750,NaN
19,087412,NaN,NaN,412,70.0,70.0,70.0,70.0,NaN,412,...,NaN,412,125.0,125.0,125.0,125.0,ув.14.02.17,412,375,NaN
20,087413,NaN,NaN,413,130.0,NaN,NaN,NaN,NaN,413,...,NaN,413,NaN,NaN,NaN,NaN,ув.14.02.17,413,NaN,отключить
21,087414,NaN,NaN,414,NaN,NaN,NaN,NaN,NaN,414,...,NaN,414,125.0,125.0,125.0,125.0,NaN,414,500,NaN
22,087416,NaN,NaN,416,NaN,NaN,NaN,NaN,NaN,416,...,ув.10.11.16,416,NaN,NaN,NaN,NaN,NaN,416,NaN,отключить
23,087419,NaN,NaN,419,NaN,NaN,NaN,NaN,NaN,419,...,ув.10.11.16,419,125.0,125.0,125.0,125.0,NaN,419,1875,NaN
24,087423,NaN,NaN,423,NaN,NaN,NaN,100.0,NaN,423,...,ув.10.11.16,423,125.0,125.0,125.0,125.0,NaN,423,375,NaN
25,087425,NaN,NaN,425,NaN,NaN,NaN,NaN,NaN,425,...,500р,425,125.0,125.0,125.0,125.0,NaN,425,1875,NaN
26,087426,NaN,NaN,426,NaN,NaN,NaN,NaN,NaN,426,...,NaN,426,NaN,NaN,NaN,NaN,NaN,426,NaN,отключить
27,087428,NaN,NaN,428,NaN,NaN,NaN,NaN,NaN,428,...,NaN,428,NaN,NaN,NaN,NaN,NaN,428,1000,NaN
28,087430,NaN,NaN,430,NaN,NaN,NaN,NaN,NaN,430,...,NaN,430,125.0,125.0,125.0,125.0,NaN,430,1875,NaN
29,087431,NaN,NaN,431,100.0,100.0,100.0,100.0,NaN,431,...,NaN,431,125.0,125.0,125.0,125.0,NaN,431,375,NaN
30,NaN,NaN,NaN,сумма,670.0,670.0,710.0,840.0,2890,сумма,...,9235,сумма,2215.0,2215.0,2215.0,2215.0,8860,сумма,28000,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
data = list_xl[['Счет', 'Квартира', 'Задолжность']]

In [105]:
data

                                    Счет Квартира          Задолжность
0   ул. Лихачевское шоссе, д. 1, корп. 4      NaN  2021-09-30 00:00:00
1                                 087383      383                  375
2                                 087385      385                  375
3                                 087387      387                  375
4                                 087388      388                  875
5                                 087389      389                  375
6                                 087391      391                  NaN
7                                 087392      392                 1875
8                                 087393      393                 1625
9                                 087394      394                 1875
10                                087395      395                  875
11                                087397      397                 1875
12                                087398      398                 1875
13                                087402      402                  NaN
14                                087404      404                 1375
15                                087405      405                  500
16                                087406      406                 1875
17                                087409      409                 1875
18                                087410      410                 1750
19                                087412      412                  375
20                                087413      413                  NaN
21                                087414      414                  500
22                                087416      416                  NaN
23                                087419      419                 1875
24                                087423      423                  375
25                                087425      425                 1875
26                                087426      426                  NaN
27                                087428      428                 1000
28                                087430      430                 1875
29                                087431      431                  375
30                                   NaN    сумма                28000
31                                   NaN      NaN                  NaN

--------------------------------------------------------------------------------------------------------------------------

**Вытащили данные по адресу (Полный адрес, улица, дом, корпус)**

In [106]:
adress = data['Счет'][0]

In [107]:
adress

'ул. Лихачевское шоссе, д. 1, корп. 4'

In [108]:
street, house, corpus = adress.split(',')

In [109]:
street = street[4:]

In [110]:
house = house[3:]

In [111]:
corpus = corpus[7:]

-------------------------------------------------------------------------------------------------------------------------

**Вытащили данные по дате задолжности**

In [112]:
day = data['Задолжность'][0].strftime('%d.%m.%Y')

In [113]:
day

'30.09.2021'

--------------------------------------------------------------------------------------------------------------------------

In [114]:
data = data.drop(axis=0, index=0)

In [115]:
data

      Счет Квартира Задолжность
1   087383      383         375
2   087385      385         375
3   087387      387         375
4   087388      388         875
5   087389      389         375
6   087391      391         NaN
7   087392      392        1875
8   087393      393        1625
9   087394      394        1875
10  087395      395         875
11  087397      397        1875
12  087398      398        1875
13  087402      402         NaN
14  087404      404        1375
15  087405      405         500
16  087406      406        1875
17  087409      409        1875
18  087410      410        1750
19  087412      412         375
20  087413      413         NaN
21  087414      414         500
22  087416      416         NaN
23  087419      419        1875
24  087423      423         375
25  087425      425        1875
26  087426      426         NaN
27  087428      428        1000
28  087430      430        1875
29  087431      431         375
30     NaN    сумма       28000
31     NaN      NaN         NaN

-----------------------------------------------------------------------

In [116]:
import openpyxl
from win32com import client
import os

def is_int(x):
    try:
        x = int(x)
        return 1
    except:
        return 0

i = 1
pdf_names = []
ref_names = []
while(is_int(data['Счет'][i])):
    print("ITER ", i)
    if(is_int(data['Задолжность'][i])):
        wb = openpyxl.load_workbook(filename = 'reference.xlsx')
        sheet = wb['Лист1']
        sheet['A2'] = adress
        sheet['B2'] = day
        sheet['C2'] = data['Счет'][i]
        sheet['D2'] = data['Квартира'][i]
        sheet['E2'] = data['Задолжность'][i]
        sheet['F2'] = deadline
        sheet['G2'] = street
        sheet['H2'] = house
        sheet['I2'] = corpus
        
        print("RESULT", sheet['D2'].value)
        
        wb.save(os.path.abspath(f'reference_{i}.xlsx'))
        wb.close()
        
        print("WRITE", i)
        
        excel = client.Dispatch("Excel.Application")
        sheets = excel.Workbooks.Open(os.path.abspath(f'reference_{i}.xlsx'))
        work_sheets = sheets.Worksheets[2]
        
        work_sheets.ExportAsFixedFormat(0, os.path.abspath(f'Квитанция_{i}.pdf'), OpenAfterPublish=False)
    
        sheets.Close(True)
        
        pdf_names.append(f'Квитанция_{i}.pdf')
        ref_names.append(f'reference_{i}.xlsx')
        print("CREATE FILE ", i)
    i += 1

ITER  1
RESULT 383
WRITE 1
CREATE FILE  1
ITER  2
RESULT 385
WRITE 2
CREATE FILE  2
ITER  3
RESULT 387
WRITE 3
CREATE FILE  3
ITER  4
RESULT 388
WRITE 4
CREATE FILE  4
ITER  5
RESULT 389
WRITE 5
CREATE FILE  5
ITER  6
ITER  7
RESULT 392
WRITE 7
CREATE FILE  7
ITER  8
RESULT 393
WRITE 8
CREATE FILE  8
ITER  9
RESULT 394
WRITE 9
CREATE FILE  9
ITER  10
RESULT 395
WRITE 10
CREATE FILE  10
ITER  11
RESULT 397
WRITE 11
CREATE FILE  11
ITER  12
RESULT 398
WRITE 12
CREATE FILE  12
ITER  13
ITER  14
RESULT 404
WRITE 14
CREATE FILE  14
ITER  15
RESULT 405
WRITE 15
CREATE FILE  15
ITER  16
RESULT 406
WRITE 16
CREATE FILE  16
ITER  17
RESULT 409
WRITE 17
CREATE FILE  17
ITER  18
RESULT 410
WRITE 18
CREATE FILE  18
ITER  19
RESULT 412
WRITE 19
CREATE FILE  19
ITER  20
ITER  21
RESULT 414
WRITE 21
CREATE FILE  21
ITER  22
ITER  23
RESULT 419
WRITE 23
CREATE FILE  23
ITER  24
RESULT 423
WRITE 24
CREATE FILE  24
ITER  25
RESULT 425
WRITE 25
CREATE FILE  25
ITER  26
ITER  27
RESULT 428
WRITE 27
CREATE FILE  27
ITER  28
RESULT 430
WRITE 28
CREATE FILE  28
ITER  29
RESULT 431
WRITE 29
CREATE FILE  29

In [117]:
pdf_names

['Квитанция_1.pdf',
 'Квитанция_2.pdf',
 'Квитанция_3.pdf',
 'Квитанция_4.pdf',
 'Квитанция_5.pdf',
 'Квитанция_7.pdf',
 'Квитанция_8.pdf',
 'Квитанция_9.pdf',
 'Квитанция_10.pdf',
 'Квитанция_11.pdf',
 'Квитанция_12.pdf',
 'Квитанция_14.pdf',
 'Квитанция_15.pdf',
 'Квитанция_16.pdf',
 'Квитанция_17.pdf',
 'Квитанция_18.pdf',
 'Квитанция_19.pdf',
 'Квитанция_21.pdf',
 'Квитанция_23.pdf',
 'Квитанция_24.pdf',
 'Квитанция_25.pdf',
 'Квитанция_27.pdf',
 'Квитанция_28.pdf',
 'Квитанция_29.pdf']

In [118]:
from PyPDF2 import PdfFileMerger

merger = PdfFileMerger()

for pdf in pdf_names:
    merger.append(pdf)

merger.write("Квитанции.pdf")
merger.close()

In [119]:
for pdf in pdf_names:
    try:
        os.remove(os.path.abspath(pdf))
    except:
        pass

In [120]:
for ref in ref_names:
    try:
        os.remove(os.path.abspath(ref))
    except:
        pass